{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/dropzone@5.4.0/dist/min/dropzone.min.css" integrity="sha256-e47xOkXs1JXFbjjpoRr1/LhVcqSzRmGmPqsrUQeVs+g=" crossorigin="anonymous">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-9054707705001903",
        enable_page_level_ads: true
    });
</script>
{% endblock %}
{% block body %}
<section class="section">
    <div class="container">
        <h1 class="title">6tu</h1>

        <p class="subtitle">
            WIP
        </p>

        <form id="drop" class="dropzone"></form>

    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/dropzone@5.4.0/dist/min/dropzone.min.js"
        integrity="sha256-Rnxk6lia2GZLfke2EKwKWPjy0q2wCW66SN1gKCXquK4=" crossorigin="anonymous"></script>
<script>
    Dropzone.options.drop = {
        paramName: "tu",
        maxFilesize: 4,
        url: '/api/upload',
        success: function (file, response) {
            console.log(response);
            let url = response.URL;
            file.dataURL = url;

            let urlDiv = file.previewElement.querySelector(".dz-filename").cloneNode(true);
            urlDiv.querySelector("span[data-dz-name]").textContent = url;
            file.previewElement.querySelector(".dz-details").appendChild(urlDiv);
        }
    };
</script>
{% endblock %}
